<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="slider">
        <div class="left-slider">
            <img src="https://via.placeholder.com/700" alt="">
        </div>

        <div class="right-slider">
            <img src="https://via.placeholder.com/300" alt="" srcset="">
            <img src="https://via.placeholder.com/300" alt="" srcset="">
        </div>
    </div>
</html>

