<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="container">
            <ul class="menu-footer">
                <li><a href="">About</a></li>
                <li><a href="">Our stores</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
            <div class="copyright">Copyright 2020 © Company</div>
        </div>
    </div>
</html>

